- const src = Math.floor( Math.random() * 3 )
-
    const gradient = [
    'linear-gradient(to right, #282828, #4d4d4d, #655c5e, #987e73)',
    'linear-gradient(to right, #151515, #382b25, #806b54, #746d59)',
    'linear-gradient(to right, #151515, #1a1a1a, #38221e, #664139)',
    ]
header.page-head( style=`background: ${gradient[src]}` )
  picture
    source(media="(max-width: 481px)" srcset=`/images/header/${src}/site-header-480.png`)
    source(media="(max-width: 781px)" srcset=`/images/header/${src}/site-header-780.png`)
    source(media="(min-width: 1700px)" srcset=`/images/header/${src}/site-header.png`)
    img.page-head__img(
      src=`/images/header/${src}/site-header-1440.png`
    )
  navbar(title="home")
